.content {
  display: flex;
  height: 100vh;
}
.first-content {
  background-color: #e2a2a2;
  width: 38%;
}
.second-content {
  background-color: #ffff;
  width: 62%;
}

.pbox {
  display: flex;
  justify-content: flex-end;
}

.hbox {
  display: flex;
  margin-top: 30vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fbox {
  padding-right: 12px;
}

.form-input-wrapper {
  display: flex;
  flex-direction: column;
}

.label-wrapper {
  font-size: 18px;
  padding: 10px 0 5px 0;
}

.input-wrapper {
  width: 300px;
  height: 35px;
  background: #f0eeee;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 16px;
  outline: none;
}

.p {
  margin-right: 20px;
}

a {
  color: #709de1;
}

.h1 {
  padding-left: 26px;
  font-weight: 700;
  margin-bottom: 50px;
}
.h1::after {
  content: "";
  margin-top: 30px;
  display: block;
  position: absolute;
  width: 355px;
  height: 1px;
  background: #000;
}

.button {
  font-size: 16px;
  font-weight: 100;
  margin-top: 15px;
  padding-top: 5px;
  background-color: #4e5166;
  width: 150px;
  height: 35px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  transition-duration: 0.3s;
  background-color: #424351;
}
